.container {
    width: 75%;
    margin: 0 auto
}
ul, li {
    list-style: none;
}

.nav {
    display: flex;
    width: 600px;
    ul {
        display: flex;
        flex:auto;
        justify-content: space-between;
        li, h1 {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
    }
}

.header-title {
    :nth-child(1){
        color: var(--secondary1)
    }
    :nth-child(2) {
        color: var(--secondary2);
    }
    :nth-child(3) {
        color: var(--secondary3);
    }
}
.specialists-left {
    width: 25%;
}
.owl-carousel {
    .owl-nav {
        display: flex;
        justify-content: space-between;
    }
    .owl-prev, .owl-next {
        // height: 10px;
        width: 10px;
        // border: 1px solid blue !important;
        span {
            font-size: 30px;
            width: 10px;
            height: 10px;
        }
    }
    .owl-dots {
        margin:0 auto;
        position: relative;
        top: -30px;
        display: flex;
        width: 80%;
        justify-content:space-evenly;
        .owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background-color: var(--primary);
        }
        .active {
            background-color: var(--secondary1);
        }
    }
}
.specialists-right-card {
    border-radius: 100px;
    border: 5px solid var(--primary);
    .right-sec-btn{
        width: 50px;
        height: 50px;
        font-size:25px;
        text-align: center;
    }
}